* {
	font-family: sans-serif;
	box-sizing: border-box;
	padding: 0;
	margin:0;
	list-style: none;
}

html, body {
	width: 100%;
	height:100%;
}

body {
	font-weight: 300;
	margin: 0;
	padding: 0;

}

div {
	display: block;
}

a {
	text-decoration: none;
}

header {
	right:0;
	left:0;
	top:0;
	height: 75px;
	background-image: linear-gradient(to bottom right,rgba(56, 5, 255, 0.84),rgba(134, 45, 179, 0.76));
	background-color: rgba(56, 5, 255, 0.84);
	font-size: 0;
}

.cleaner {
	clear: both;
}

.header-container {
	width: 1170px;
	padding:0 15px;
	margin-left:auto;
	margin-right:auto;

}

	.header-container .logo {
		float:left;
		padding: 16px 0;
	}

		.header-container .logo a {
			text-decoration: none;
		}

			.header-container .logo img {
				height: 40px;
			}

	.header-container .navigation {
		display: block;
	}
		.header-container .navigation .nav-menu {
			float: right;
			list-style: none;
			padding: 0;
			margin-top: 0;
			height: 75px;
		}

			.header-container .navigation .nav-menu li {
				float: left;
				display: block;
				height: 75px;
			}

				.header-container .navigation .nav-menu a {
					display: block;
					font-size: 10px;
					font-weight: 500;
					line-height: 25px;
					padding: 25px 15px;
					color: white;
					letter-spacing: 2px;
					height: 75px;	
					transition: color 0.4s ease;
				}

					.header-container .navigation .nav-menu a:hover {
						color:#4a4c4f;
						
					}


article.art-one {
	height: 100%;
}

	.sec1 {
		overflow: hidden;
		display: block;
		margin:0;
		padding: 0;
		width: 100%;
		height:100%;
	}
		
		.background {
			width: 100%;
			height: 100%;
			position: relative;
			overflow: hidden;
		}	
			.bg-image {
				width: 100%;
				height: 100%;
				background-image: url(../images/astronaut.jpg);
				background-size: cover;
				background-position:center;
				background-repeat: no-repeat;
			}

			.overlay {
				width: 100%;
				height: 100%;
				position: absolute;
				top:0;
				background-image: linear-gradient(to bottom right,rgba(56, 5, 255, 0.84),rgba(134, 45, 179, 0.76));
				
			}

			.text {
				position: relative;
				width: 100%;
				height: 100%;
				padding: 250px 0;

			}
				.container {
					width: 1170px;
					padding:0 15px;
					margin-left:auto;
					margin-right:auto;
					height: 100%;
				}
					.title {
						margin:25px 0;
						position: relative;
						text-align: center;
					}

						.title h4 {
							font-size: 19px;
							font-weight: 700;
							margin-top: 10px;
							margin-bottom: 20px;
							color: white;
							letter-spacing: 1px;
						}

						.title hr {
							width: 45px;
							margin:20px auto;
							display: block;
						    height: 1px;
						    border: 0;
						    border-top: 1px solid red;
						   
						}

					.container h2 {
						font-size: 42px;
						font-weight: 700;
						text-align: center;
						margin-bottom: 25px;
						color: white;
					}

					.container h3 {
						font-size: 20px;
						font-weight: 700;
						text-align: center;
						margin-bottom: 45px;
						color: white;
					}
					.button {
						text-align: center;
					}

						.button a {
							border:1px solid white;
							border-radius: 100px;
							color: white;
							padding: 0 28px;
							line-height: 53px;
							font-size: 12px;
							font-weight: 600;
							display: inline-block;
							transition: background-color 0.4s ease;
						}

						.button a:hover {
							background-color: #408edd;
							border-color: #408edd;
						}

	.sec2 {
		margin: 0;
		width: 100%;
		padding:30px 0;
		border-bottom: 1px solid #bcbfc4;
	}

		.sec2 .title {
			display: block;
			margin:0px auto;
			width: 1170px;
			padding: 0 15px;
			
		}

			.sec2 .title h3 {
				font-size: 12px;
				font-weight: 800;
				letter-spacing: 1px;
				color: #a4a7ad;
				margin-bottom: 10px;

			}

		.sec2 .logos {

		}

			.sec2 .logos ul {
				width: 1170px;
				padding: 0 15px;
				margin-left:auto;
				margin-right: auto;
				text-align: center;
			}

				.sec2 .logos li {
					display: inline-block;
					margin-right: 40px;
				}

					.logos img {
						width: 118px;
						height: 74px;
					}

	.sec3 {
		width: 1170px;
		padding: 70px 15px; 
		margin-right: auto;
		margin-left: auto;
		height: auto;
	}

		.sec3 .title1 {
			text-align: center;
		}

			.sec3 .title1 h3 {
				font-size: 11px;
				font-weight: 800;
				letter-spacing: 1px;
				color: #424344;
				margin-bottom: 15px;
			}

		.sec3 .title2 {
			text-align: center;
		}

			.sec3 .title2 h1 {
				font-size: 20px;
				color: #424344;
				letter-spacing: 1px;
				margin-bottom: 30px;
			}

		.sec3 .under {
			width: 100%;
			padding-top: 30px;
			height: 343px;
			box-sizing: border-box;

		}


				.sec3 .under .paragraphs {
					padding:10px 25px;
					box-sizing: border-box;
					width: 50%;
					float: left;
				}

					.sec3 .under .paragraphs .p1 {
						margin-bottom: 35px;
					}

						.p1 p {
							color: #464650;
							letter-spacing: 0.5px;
							font-weight: 300;
							font-size: 16px;
							line-height: 1.5;
						}

					.sec3 .under .paragraphs .p2 {
						margin-bottom: 35px;
					}

						.p2 p {
							color: #464650;
							letter-spacing: 0.5px;
							font-weight: 300;
							font-size: 16px;
							line-height: 1.5;
						}

					.button2 {
						display: inline-block;
						text-align: center;
					}

						.button2 a {
							border:1px solid #2328ff;
							border-radius: 100px;
							color: #2328ff;
							padding: 0 28px;
							line-height: 53px;
							font-size: 12px;
							font-weight: 600;
							display: inline-block;
							transition: background-color 0.4s ease;
						}

							.button2 a:hover {
								background-color: #ed1650;
								border-color: #ed1650;
								color: white;
							}

				.sec3 .under .right {
					padding:10px 25px;
					box-sizing: border-box;
					width: 50%;
					float: right;
				}

					.sec3 .under .right .image-sec {
					
					}

						.right img {
							width: 500px;
							height: 290px;
						}

	.sec4 {
		width: 100%;
		height: 952px;
		font-size: 0;
		margin: 0;
		padding: 0;
	}	

		.sec4 .box1 {
			width: 25%;
			height: 50%;
			display:inline-block;
			overflow: hidden;
			position: relative;

		}

			.imagebox1 {
				width: 100%;
				height: 100%;
				position: relative;
				background-image: url(../images/box1.jpg);
				background-size: cover;
				background-position:center;
				background-repeat: no-repeat;
				transition: all ease .7s;

			}

				.box1:hover .imagebox1 {
					transform: scale(1.2);
				}	

			.imagehover1 {
				width: 100%;
				height: 100%;
				background-color: rgba(33, 40, 45, 0.85);
				position: absolute;
				opacity: 0;
				top: 0;
				left: 0;
				transition: all ease .4s; 

			}


				.imagehover1 h3 {
					font-size: 16px;
					font-weight: 700;
					color: white;
					text-transform: uppercase;
					text-align: center;
					transition: all ease .5s;
					transition-delay: .1s;
					opacity: 0;
					display: block;
					letter-spacing: 8px;
					margin-top: 10px;
					margin-bottom: 20px;
					transform: scale3d(0.1, 0.1, 1);
				}	
				
				.imagehover1 p {
					font-size: 11px;
					letter-spacing: 3px;
					color: white;
					text-transform: uppercase;
					text-align: center;
					transition: all ease .5s;
					transition-delay: .2s;
					opacity: 0;
					display: block;
					margin-bottom: 10px;
					transform: scale3d(0.1, 0.1, 1);
				}

				.text1 {
					position: absolute;
					width: 100%;
					height:100%;
					line-height: 15px;
					padding: 200px 0;

				}

				.box1:hover .imagehover1 {
					opacity: 1;
				}

					.box1:hover .imagehover1 h3 {
						opacity: 1;
						transform: scale3d(1, 1, 1);
						
					}

					.box1:hover .imagehover1 p {
						opacity: 1;
						transform: scale3d(1, 1, 1);
					}



		.sec4 .box2 {
			width: 25%;
			height: 50%;
			display:inline-block;
			overflow: hidden;
			position: relative;

		}

			.imagebox2 {
				width: 100%;
				height: 100%;
				position: relative;
				background-image: url(../images/box2.jpg);
				background-size: cover;
				background-position:center;
				background-repeat: no-repeat;
				transition: all ease .7s;

			}

				.box2:hover .imagebox2 {
					transform: scale(1.2);
				}	

			.imagehover2 {
				width: 100%;
				height: 100%;
				background-color: rgba(33, 40, 45, 0.85);
				position: absolute;
				opacity: 0;
				top: 0;
				left: 0;
				transition: all ease .4s; 

			}


				.imagehover2 h3 {
					font-size: 16px;
					font-weight: 700;
					color: white;
					text-transform: uppercase;
					text-align: center;
					transition: all ease .5s;
					transition-delay: .1s;
					opacity: 0;
					display: block;
					letter-spacing: 8px;
					margin-top: 10px;
					margin-bottom: 20px;
					transform: scale3d(0.1, 0.1, 1);
				}	
				
				.imagehover2 p {
					font-size: 11px;
					letter-spacing: 3px;
					color: white;
					text-transform: uppercase;
					text-align: center;
					transition: all ease .5s;
					transition-delay: .2s;
					opacity: 0;
					display: block;
					margin-bottom: 10px;
					transform: scale3d(0.1, 0.1, 1);
				}

				.text2 {
					position: absolute;
					width: 100%;
					height:100%;
					line-height: 15px;
					padding: 200px 0;

				}

				.box2:hover .imagehover2 {
					opacity: 1;
				}

					.box2:hover .imagehover2 h3 {
						opacity: 1;
						transform: scale3d(1, 1, 1);
						
					}

					.box2:hover .imagehover2 p {
						opacity: 1;
						transform: scale3d(1, 1, 1);
					}


		.sec4 .box3 {
			width: 25%;
			height: 50%;
			display:inline-block;
			overflow: hidden;
			position: relative;

		}

			.imagebox3 {
				width: 100%;
				height: 100%;
				position: relative;
				background-image: url(../images/box3.jpg);
				background-size: cover;
				background-position:center;
				background-repeat: no-repeat;
				transition: all ease .7s;

			}

				.box3:hover .imagebox3 {
					transform: scale(1.2);
				}	

			.imagehover3 {
				width: 100%;
				height: 100%;
				background-color: rgba(33, 40, 45, 0.85);
				position: absolute;
				opacity: 0;
				top: 0;
				left: 0;
				transition: all ease .4s; 

			}


				.imagehover3 h3 {
					font-size: 16px;
					font-weight: 700;
					color: white;
					text-transform: uppercase;
					text-align: center;
					transition: all ease .5s;
					transition-delay: .1s;
					opacity: 0;
					display: block;
					letter-spacing: 8px;
					margin-top: 10px;
					margin-bottom: 20px;
					transform: scale3d(0.1, 0.1, 1);
				}	
				
				.imagehover3 p {
					font-size: 11px;
					letter-spacing: 3px;
					color: white;
					text-transform: uppercase;
					text-align: center;
					transition: all ease .5s;
					transition-delay: .2s;
					opacity: 0;
					display: block;
					margin-bottom: 10px;
					transform: scale3d(0.1, 0.1, 1);
				}

				.text3 {
					position: absolute;
					width: 100%;
					height:100%;
					line-height: 15px;
					padding: 200px 0;

				}

				.box3:hover .imagehover3 {
					opacity: 1;
				}

					.box3:hover .imagehover3 h3 {
						opacity: 1;
						transform: scale3d(1, 1, 1);
						
					}

					.box3:hover .imagehover3 p {
						opacity: 1;
						transform: scale3d(1, 1, 1);
					}


		.sec4 .box4 {
			width: 25%;
			height: 50%;
			display:inline-block;
			overflow: hidden;
			position: relative;

		}

			.imagebox4 {
				width: 100%;
				height: 100%;
				position: relative;
				background-image: url(../images/box4.jpg);
				background-size: cover;
				background-position:center;
				background-repeat: no-repeat;
				transition: all ease .7s;

			}

				.box4:hover .imagebox4 {
					transform: scale(1.2);
				}	

			.imagehover4 {
				width: 100%;
				height: 100%;
				background-color: rgba(33, 40, 45, 0.85);
				position: absolute;
				opacity: 0;
				top: 0;
				left: 0;
				transition: all ease .4s; 

			}


				.imagehover4 h3 {
					font-size: 16px;
					font-weight: 700;
					color: white;
					text-transform: uppercase;
					text-align: center;
					transition: all ease .5s;
					transition-delay: .1s;
					opacity: 0;
					display: block;
					letter-spacing: 8px;
					margin-top: 10px;
					margin-bottom: 20px;
					transform: scale3d(0.1, 0.1, 1);
				}	
				
				.imagehover4 p {
					font-size: 11px;
					letter-spacing: 3px;
					color: white;
					text-transform: uppercase;
					text-align: center;
					transition: all ease .5s;
					transition-delay: .2s;
					opacity: 0;
					display: block;
					margin-bottom: 10px;
					transform: scale3d(0.1, 0.1, 1);
				}

				.text4 {
					position: absolute;
					width: 100%;
					height:100%;
					line-height: 15px;
					padding: 200px 0;

				}

				.box4:hover .imagehover4 {
					opacity: 1;
				}

					.box4:hover .imagehover4 h3 {
						opacity: 1;
						transform: scale3d(1, 1, 1);
						
					}

					.box4:hover .imagehover4 p {
						opacity: 1;
						transform: scale3d(1, 1, 1);
					}			


		.sec4 .box5 {
			width: 25%;
			height: 50%;
			display:inline-block;
			overflow: hidden;
			position: relative;

		}

			.imagebox5 {
				width: 100%;
				height: 100%;
				position: relative;
				background-image: url(../images/box5.jpg);
				background-size: cover;
				background-position:center;
				background-repeat: no-repeat;
				transition: all ease .7s;

			}

				.box5:hover .imagebox5 {
					transform: scale(1.2);
				}	

			.imagehover5 {
				width: 100%;
				height: 100%;
				background-color: rgba(33, 40, 45, 0.85);
				position: absolute;
				opacity: 0;
				top: 0;
				left: 0;
				transition: all ease .4s; 

			}


				.imagehover5 h3 {
					font-size: 16px;
					font-weight: 700;
					color: white;
					text-transform: uppercase;
					text-align: center;
					transition: all ease .5s;
					transition-delay: .1s;
					opacity: 0;
					display: block;
					letter-spacing: 8px;
					margin-top: 10px;
					margin-bottom: 20px;
					transform: scale3d(0.1, 0.1, 1);
				}	
				
				.imagehover5 p {
					font-size: 11px;
					letter-spacing: 3px;
					color: white;
					text-transform: uppercase;
					text-align: center;
					transition: all ease .5s;
					transition-delay: .2s;
					opacity: 0;
					display: block;
					margin-bottom: 10px;
					transform: scale3d(0.1, 0.1, 1);
				}

				.text5 {
					position: absolute;
					width: 100%;
					height:100%;
					line-height: 15px;
					padding: 200px 0;

				}

				.box5:hover .imagehover5 {
					opacity: 1;
				}

					.box5:hover .imagehover5 h3 {
						opacity: 1;
						transform: scale3d(1, 1, 1);
						
					}

					.box5:hover .imagehover5 p {
						opacity: 1;
						transform: scale3d(1, 1, 1);
					}


		.sec4 .box6 {
			width: 25%;
			height: 50%;
			display:inline-block;
			overflow: hidden;
			position: relative;

		}

			.imagebox6 {
				width: 100%;
				height: 100%;
				position: relative;
				background-image: url(../images/box6.jpg);
				background-size: cover;
				background-position:center;
				background-repeat: no-repeat;
				transition: all ease .7s;

			}

				.box6:hover .imagebox6 {
					transform: scale(1.2);
				}	

			.imagehover6 {
				width: 100%;
				height: 100%;
				background-color: rgba(33, 40, 45, 0.85);
				position: absolute;
				opacity: 0;
				top: 0;
				left: 0;
				transition: all ease .4s; 

			}


				.imagehover6 h3 {
					font-size: 16px;
					font-weight: 700;
					color: white;
					text-transform: uppercase;
					text-align: center;
					transition: all ease .5s;
					transition-delay: .1s;
					opacity: 0;
					display: block;
					letter-spacing: 8px;
					margin-top: 10px;
					margin-bottom: 20px;
					transform: scale3d(0.1, 0.1, 1);
				}	
				
				.imagehover6 p {
					font-size: 11px;
					letter-spacing: 3px;
					color: white;
					text-transform: uppercase;
					text-align: center;
					transition: all ease .5s;
					transition-delay: .2s;
					opacity: 0;
					display: block;
					margin-bottom: 10px;
					transform: scale3d(0.1, 0.1, 1);
				}

				.text6 {
					position: absolute;
					width: 100%;
					height:100%;
					line-height: 15px;
					padding: 200px 0;

				}

				.box6:hover .imagehover6 {
					opacity: 1;
				}

					.box6:hover .imagehover6 h3 {
						opacity: 1;
						transform: scale3d(1, 1, 1);
						
					}

					.box6:hover .imagehover6 p {
						opacity: 1;
						transform: scale3d(1, 1, 1);
					}

		.sec4 .box7 {
			width: 25%;
			height: 50%;
			display:inline-block;
			overflow: hidden;
			position: relative;

		}

			.imagebox7 {
				width: 100%;
				height: 100%;
				position: relative;
				background-image: url(../images/box7.jpg);
				background-size: cover;
				background-position:center;
				background-repeat: no-repeat;
				transition: all ease .7s;

			}

				.box7:hover .imagebox7 {
					transform: scale(1.2);
				}	

			.imagehover7 {
				width: 100%;
				height: 100%;
				background-color: rgba(33, 40, 45, 0.85);
				position: absolute;
				opacity: 0;
				top: 0;
				left: 0;
				transition: all ease .4s; 

			}


				.imagehover7 h3 {
					font-size: 16px;
					font-weight: 700;
					color: white;
					text-transform: uppercase;
					text-align: center;
					transition: all ease .5s;
					transition-delay: .1s;
					opacity: 0;
					display: block;
					letter-spacing: 8px;
					margin-top: 10px;
					margin-bottom: 20px;
					transform: scale3d(0.1, 0.1, 1);
				}	
				
				.imagehover7 p {
					font-size: 11px;
					letter-spacing: 3px;
					color: white;
					text-transform: uppercase;
					text-align: center;
					transition: all ease .5s;
					transition-delay: .2s;
					opacity: 0;
					display: block;
					margin-bottom: 10px;
					transform: scale3d(0.1, 0.1, 1);
				}

				.text7 {
					position: absolute;
					width: 100%;
					height:100%;
					line-height: 15px;
					padding: 200px 0;

				}

				.box7:hover .imagehover7 {
					opacity: 1;
				}

					.box7:hover .imagehover7 h3 {
						opacity: 1;
						transform: scale3d(1, 1, 1);
						
					}

					.box7:hover .imagehover7 p {
						opacity: 1;
						transform: scale3d(1, 1, 1);
					}

		.sec4 .box8 {
			width: 25%;
			height: 50%;
			display:inline-block;
			overflow: hidden;
			position: relative;

		}

			.imagebox8 {
				width: 100%;
				height: 100%;
				position: relative;
				background-image: url(../images/box8.jpg);
				background-size: cover;
				background-position:center;
				background-repeat: no-repeat;
				transition: all ease .7s;

			}

				.box8:hover .imagebox8 {
					transform: scale(1.2);
				}	

			.imagehover8 {
				width: 100%;
				height: 100%;
				background-color: rgba(33, 40, 45, 0.85);
				position: absolute;
				opacity: 0;
				top: 0;
				left: 0;
				transition: all ease .4s; 

			}


				.imagehover8 h3 {
					font-size: 16px;
					font-weight: 700;
					color: white;
					text-transform: uppercase;
					text-align: center;
					transition: all ease .5s;
					transition-delay: .1s;
					opacity: 0;
					display: block;
					letter-spacing: 8px;
					margin-top: 10px;
					margin-bottom: 20px;
					transform: scale3d(0.1, 0.1, 1);
				}	
				
				.imagehover8 p {
					font-size: 11px;
					letter-spacing: 3px;
					color: white;
					text-transform: uppercase;
					text-align: center;
					transition: all ease .5s;
					transition-delay: .2s;
					opacity: 0;
					display: block;
					margin-bottom: 10px;
					transform: scale3d(0.1, 0.1, 1);
				}

				.text8 {
					position: absolute;
					width: 100%;
					height:100%;
					line-height: 15px;
					padding: 200px 0;

				}

				.box8:hover .imagehover8 {
					opacity: 1;
				}

					.box8:hover .imagehover8 h3 {
						opacity: 1;
						transform: scale3d(1, 1, 1);
						
					}

					.box8:hover .imagehover8 p {
						opacity: 1;
						transform: scale3d(1, 1, 1);
					}


	.sec5 {
		width: 100%;
		height: 827px;
		margin:0;
		padding: 0;
		font-size:0;
	}

		.left-sec5 {
			width: 50%;
			height:100%;
			display: inline-block;
			position: relative;
			float: left;
		}

			.image-left {
				width: 100%;
				height: 100%;
				background-image: url(../images/sec5left.jpg);
				background-size: cover;
				background-position:center center;
				background-repeat: no-repeat;
				display: inline-block;
			}

			.text-sec5 {
				position: absolute;
				top:0;
				left:0;
				width: 100%;
				height: 100%;
			}

				.container-sec5 {
					width: 100%;
					height:100%;
					padding:300px 0;
				}

					.center {
						width: 100%;
						height: 100%;
						padding-left: 100px;
						padding-right: 100px;
						padding-top:80px;


					}

						.text-sec5 h3 {
							font-size: 18px;
							font-weight: 300;
							text-transform: uppercase;
							color: white;
							padding-bottom: 20px;
							padding-top: 10px;
						}

						.text-sec5 h1 {
							font-size: 40px;
							font-weight: 600;
							text-transform: uppercase;
							color: white;
							padding-bottom: 10px;
						}

						.text-sec5 hr {
							width: 45px;
							margin-top: 20px;
							margin-bottom: 20px;
							display: block;
						    height: 1px;
						    border: 0;
						    border-top: 1px solid red;
						}

		.right-sec5 {
			overflow: hidden;
			display: inline-block;
			width: 50%;
			height: 100%;
			float: left;
			/*font-size: 0;*/
		}

			.box1-sec5 {
				width: 50%;
				height: 50%;
				display: inline-block;
			}

				.box1-sec5:hover {
					background-color: #2c2d2d;
				}

				.box1-sec5:hover i {
					color:white;
					transform: scale(1.2);
					transition: all ease 0.5s;
				}

				.box1-sec5:hover h1 {
					color:white;
				}

				.box1-sec5:hover hr {
					width: 45px;
					margin:20px auto;
					display: block;
					height: 1px;
					border: 0;
					border-top: 1px solid white;
					transform: scale(1.4);
					transition: all ease 0.5s;

				}

				.box1-sec5:hover p {
					color:white;
				}

			.box2-sec5 {
				width: 50%;
				height: 50%;
				display: inline-block;
			}

				.box2-sec5:hover {
					background-color: #2c2d2d;
				}

				.box2-sec5:hover i {
					color:white;
					transform: scale(1.2);
					transition: all ease 0.5s;
				}

				.box2-sec5:hover h1 {
					color:white;
				}

				.box2-sec5:hover hr {
					width: 45px;
					margin:20px auto;
					display: block;
					height: 1px;
					border: 0;
					border-top: 1px solid white;
					transform: scale(1.4);
					transition: all ease 0.5s;
				}

				.box2-sec5:hover p {
					color:white;
				}

			.box3-sec5 {
				width: 50%;
				height: 50%;
				display: inline-block;
			}

				.box3-sec5:hover {
					background-color: #2c2d2d;
				}

				.box3-sec5:hover i {
					color:white;
					transform: scale(1.2);
					transition: all ease 0.5s;
				}

				.box3-sec5:hover h1 {
					color:white;
				}

				.box3-sec5:hover hr {
					width: 45px;
					margin:20px auto;
					display: block;
					height: 1px;
					border: 0;
					border-top: 1px solid white;
					transform: scale(1.4);
					transition: all ease 0.5s;
				}

				.box3-sec5:hover p {
					color:white;
				}

			.box4-sec5 {
				width: 50%;
				height: 50%;
				display: inline-block;
			}

				.box4-sec5:hover {
					background-color: #2c2d2d;
				}

				.box4-sec5:hover i {
					color:white;
					transform: scale(1.2);
					transition: all ease 0.5s;
				}

				.box4-sec5:hover h1 {
					color:white;
				}

				.box4-sec5:hover hr {
					width: 45px;
					margin:20px auto;
					display: block;
					height: 1px;
					border: 0;
					border-top: 1px solid white;
					transform: scale(1.4);
					transition: all ease 0.5s;
				}

				.box4-sec5:hover p {
					color:white;
				}

			.wrapper {
				width: 100%;
				height:100%;
				padding:20px;
				border-bottom: 1px solid #e7e7e7;
				border-right: 1px solid #e7e7e7;
				position: relative;
			}

				.wrapper .wrapper2 {
					width: 100%;
					height: 100%;
					padding: 50px 130px;
					position: absolute;
					top: 0;
					left: 0;
					text-align: center;

				}

				.wrapper a:link {
					color: #424344;
				}

				.wrapper a:visited {
					color: #424344;
				}

					.wrapper2 i {
					font-size: 80px;
					width: 91.5px;
					height: 78px;
					margin-bottom: 25px;
					color: #424344;
					transition: all ease 0.5s;

					}

					.wrapper2 h1 {
						color: #424344;
						font-size: 17px;
						display: block;
						text-transform: uppercase;
						letter-spacing: 3px;
						margin-top: 10px;
						margin-bottom: 10px;

					}

					.wrapper2 hr {
						width: 45px;
						margin:20px auto;
						display: block;
						height: 1px;
						border: 0;
						border-top: 1px solid black;
						transition: all ease 0.5s;
					}

					.wrapper2 p {
						font-size: 16px;
						line-height: 25px;
						font-weight: 300;
						color: #424344;
						letter-spacing: 1px;

					}

footer {
	width: 100%;
	height:335px;
	background-color: #f5f5f5;
	padding-top: 50px;
	padding-bottom: 50px;
	border-top: 1px solid #eee;
	display: block;
	position: relative;

}

	.container-footer {
		width: 1170px;
		height: 100%;
		padding: 0 15px;
		margin-right: auto;
		margin-left: auto;
	}

		.left-footer {
			width: 50%;
			height: 100%;
			display: inline-block;
			float: left;
		}

			.left11 {
				width: 33.33333%;
				height: 100%;
				display:inline-block;
				float: left;
				padding:25px 15px;
			}

				.left11 h3 {
					text-transform: uppercase;
					font-size: 15px;
					font-weight: 700;
					letter-spacing: 1px;
					color: #464650;
					margin-top: 10px;
					margin-bottom: 20px;
				}

				.left11 .info {
					font-size: 14px;
					letter-spacing: 0.7px;
					text-transform: uppercase;
					color: #464650;
					font-weight: 400;
					line-height: 20px;
				}

				.left11 .info p {
					margin-bottom: 15px;
				}

					.info a {
						width: auto;
						padding: 0 28px;
						letter-spacing: 1px;
						font-size: 10px;
						height: 37px;
						line-height: 35px;
						text-align: center;
						display: inline-block;
						border: 1px solid #2328ff;
						transition: background-color 0.4s ease;
					}

					.info a:visited {
						color:#2328ff;
					}

					.info a:hover {
						background-color: #ed1650;
    					border-color: #ed1650;
   						color: white;
					}


			.center11 {
				width: 33.33333%;
				height: 100%;
				display:inline-block;
				float: left;
				padding:25px 15px;
			}

				.center11 h3 {
					text-transform: uppercase;
					font-size: 15px;
					font-weight: 700;
					letter-spacing: 1px;
					color: #464650;
					margin-top: 10px;
					margin-bottom: 20px;
				}

				.center11 ul {
					margin:0;
					display: inline-block;
				}

					.center11 a {
						color: #464650;
						padding: 5px 0;
						font-size: 12px;
						text-transform: uppercase;
						line-height: 25px;
						letter-spacing: 1px;
						/*display: inline-block;*/
					}

						.center11 a:hover {
							color: #ed1650;
						}

			.right11 {
				width: 33.33333%;
				height: 100%;
				display:inline-block;
				float: left;
				padding:25px 15px;
			}


				.right11 h3 {
					text-transform: uppercase;
					font-size: 15px;
					font-weight: 700;
					letter-spacing: 1px;
					color: #464650;
					margin-top: 10px;
					margin-bottom: 20px;
				}

				.right11 ul {
					margin:0;
					display: inline-block;
				}

					.right11 a {
						color: #464650;
						padding: 5px 0;
						font-size: 12px;
						text-transform: uppercase;
						line-height: 25px;
						letter-spacing: 1px;
					}

						.right11 a:hover {
							color: #ed1650;
						}



		.right-footer {
			width: 50%;
			height: 100%;
			display: inline-block;
			float: left;

		}

			.right-container {
				width: 100%;
				height:100%;
				margin-left: 16.66666667%;
				padding: 0 15px;
			}

				.wrapper-footer {
					width: 100%;
					height: 100%;
					padding: 25px 15px;
				}

					.wrapper-footer h3 {
						text-transform: uppercase;
						font-size: 15px;
						font-weight: 700;
						letter-spacing: 1px;
						color: #464650;
						margin-top: 10px;
						margin-bottom: 20px;
					}

					.wrapper-footer p {
						color: #464650;
						font-size: 13px;
						text-transform: uppercase;
						line-height: 25px;
						letter-spacing: 1px;
						margin-bottom: 15px;
					}

					form {
						max-width: 600px;
						height: 55px;
						display: block;
						margin: 0;
					}

				
						.control {
							border: 1px solid #ccc;
							font-size: 17px;
							float: left;
							margin: 0; 
							height: 55px;
							padding: 18px 24px;
							letter-spacing: 1px;

						}

					

							button {
								width: 130px;
								height: 55px;
								text-transform: uppercase;
								background-color: #2328ff;
								border: 0;
								font-size: 12px;
								letter-spacing: 1px;
								color: white;
								font-weight: 600; 
							}

							button:hover {
								background-color: #ed1650;
								transition: all ease .3s;
							}