* {
	font-family: sans-serif;
	box-sizing: border-box;
	padding: 0;
	margin:0;
	list-style: none;
}

body {
	font-size: 15px;
	font-weight: 300;

}

div {
	display: block;
}

a {
	text-decoration: none;
}

header {
	right:0;
	left:0;
	top:0;
	height: 75px;
	background-image: linear-gradient(to bottom right,rgba(56, 5, 255, 0.84),rgba(134, 45, 179, 0.76));
	background-color: rgba(56, 5, 255, 0.84)
}

.cleaner {
	clear: both;
}

.header-container {
	width: 1170px;
	padding:0 15px;
	margin-left:auto;
	margin-right:auto;

}

	.header-container .logo {
		float:left;
		padding: 16px 0;
	}

		.header-container .logo a {
			text-decoration: none;
		}

			.header-container .logo img {
				height: 40px;
			}

	.header-container .navigation {
		display: block;
	}
		.header-container .navigation .nav-menu {
			float: right;
			list-style: none;
			padding: 0;
			margin-top: 0;
			height: 75px;
		}

			.header-container .navigation .nav-menu li {
				float: left;
				display: block;
				height: 75px;
			}

				.header-container .navigation .nav-menu a {
					display: block;
					font-size: 10px;
					font-weight: 500;
					line-height: 25px;
					padding: 25px 15px;
					color: white;
					letter-spacing: 2px;
					height: 75px;	
					transition: color 0.4s ease;
				}

					.header-container .navigation .nav-menu a:hover {
						color:#4a4c4f;
						
					}


article {

}

	.sec1 {
		overflow: hidden;
		display: block;
		margin:0;
		padding: 0;
		width: 100%;
		height:100%;
	}
		
		.background {
			width: 100%;
			height: 100%;
			position: relative;
			overflow: hidden;
		}	
			.bg-image {
				width: 100%;
				height: 92.3vh;
				background-image: url(../images/astronaut.jpg);
				background-size: cover;
				background-position:center;
				background-repeat: no-repeat;
			}

			.overlay {
				width: 100%;
				height: 92.3vh;
				position: absolute;
				top:0;
				background-image: linear-gradient(to bottom right,rgba(56, 5, 255, 0.84),rgba(134, 45, 179, 0.76));
				
			}

			.text {
				position: relative;
				width: 100%;
				height: 100%;
				padding: 250px 0;

			}
				.container {
					width: 1170px;
					padding:0 15px;
					margin-left:auto;
					margin-right:auto;
					height: 100%;
				}
					.title {
						margin:25px 0;
						position: relative;
						text-align: center;
					}

						.title h4 {
							font-size: 19px;
							font-weight: 700;
							margin-top: 10px;
							margin-bottom: 20px;
							color: white;
							letter-spacing: 1px;
						}

						.title hr {
							width: 45px;
							margin:20px auto;
							display: block;
						    height: 1px;
						    border: 0;
						    border-top: 1px solid red;
						   
						}

					.container h2 {
						font-size: 42px;
						font-weight: 700;
						text-align: center;
						margin-bottom: 25px;
						color: white;
					}

					.container h3 {
						font-size: 20px;
						font-weight: 700;
						text-align: center;
						margin-bottom: 45px;
						color: white;
					}
					.button {
						text-align: center;
					}

						.button a {
							border:1px solid white;
							border-radius: 100px;
							color: white;
							padding: 0 28px;
							line-height: 53px;
							font-size: 12px;
							font-weight: 600;
							display: inline-block;
							transition: background-color 0.4s ease;
						}

						.button a:hover {
							background-color: #408edd;
							border-color: #408edd;
						}

	.sec2 {
		margin: 0;
		width: 100%;
		padding:30px 0;
		border-bottom: 1px solid #bcbfc4;
	}

		.sec2 .title {
			display: block;
			margin:0px auto;
			width: 1170px;
			padding: 0 15px;
			
		}

			.sec2 .title h3 {
				font-size: 12px;
				font-weight: 800;
				letter-spacing: 1px;
				color: #a4a7ad;
				margin-bottom: 10px;

			}

		.sec2 .logos {

		}

			.sec2 .logos ul {
				width: 1170px;
				padding: 0 15px;
				margin-left:auto;
				margin-right: auto;
				text-align: center;
			}

				.sec2 .logos li {
					display: inline-block;
					margin-right: 40px;
				}

					.logos img {
						width: 118px;
						height: 74px;
					}

	.sec3 {
		width: 1170px;
		padding: 70px 15px; 
		margin-right: auto;
		margin-left: auto;
		height: auto;
	}

		.sec3 .title1 {
			text-align: center;
		}

			.sec3 .title1 h3 {
				font-size: 11px;
				font-weight: 800;
				letter-spacing: 1px;
				color: #424344;
				margin-bottom: 15px;
			}

		.sec3 .title2 {
			text-align: center;
		}

			.sec3 .title2 h1 {
				font-size: 20px;
				color: #424344;
				letter-spacing: 1px;
				margin-bottom: 30px;
			}

		.sec3 .under {
			width: 100%;
			padding-top: 30px;
			height: 343px;
			box-sizing: border-box;

		}


				.sec3 .under .paragraphs {
					padding:10px 25px;
					box-sizing: border-box;
					width: 50%;
					float: left;
				}

					.sec3 .under .paragraphs .p1 {
						margin-bottom: 35px;
					}

						.p1 p {
							color: #464650;
							letter-spacing: 0.5px;
							font-weight: 300;
							font-size: 16px;
							line-height: 1.5;
						}

					.sec3 .under .paragraphs .p2 {
						margin-bottom: 35px;
					}

						.p2 p {
							color: #464650;
							letter-spacing: 0.5px;
							font-weight: 300;
							font-size: 16px;
							line-height: 1.5;
						}

					.button2 {
						display: inline-block;
						text-align: center;
					}

						.button2 a {
							border:1px solid #2328ff;
							border-radius: 100px;
							color: #2328ff;
							padding: 0 28px;
							line-height: 53px;
							font-size: 12px;
							font-weight: 600;
							display: inline-block;
							transition: background-color 0.4s ease;
						}

							.button2 a:hover {
								background-color: #ed1650;
								border-color: #ed1650;
								color: white;
							}

				.sec3 .under .right {
					padding:10px 25px;
					box-sizing: border-box;
					width: 50%;
					float: right;
				}

					.sec3 .under .right .image-sec {
					
					}

						.right img {
							width: 500px;
							height: 290px;
						}

